certifi==2024.8.30
charset-normalizer==3.4.0
docutils==0.21.2
exceptiongroup==1.2.2
Geohash==1.0
idna==3.10
iniconfig==2.0.0
linecache2==1.0.0
numpy==2.0.2
packaging==24.2
pandas==2.2.3
pluggy==1.5.0
py4j==0.10.9.7
pyspark==3.5.3
pytest==8.3.4
python-dateutil==2.9.0.post0
python-geohash==0.8.5
pytz==2024.2
requests==2.32.3
six==1.17.0
tomli==2.2.1
traceback2==1.4.0
tzdata==2024.2
unittest2==1.1.0
urllib3==2.2.3
